@model IEnumerable<Lab01.Models.Illustration>
@{
    ViewData["Title"] = "Ilustrations";
    Layout = "~/Views/Shared/_IlustrationView.cshtml";
}


@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
    <p class="details">
        <a href="@Html.DisplayFor(modelItem => item.ImageUrl)"> <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="312" height="192" alt="lady" /></a>
        <br>@Html.DisplayFor(modelItem => item.Description)
    </p>
}

<!--d> When a mind has begun to wander, let it go and look downunder. For then you might find a thing that takes you on and on again.</d>
<h2>Lady in the Snow</h2>
<p class="details">
    <a href="/Graphics/lady.jpg"> <img src="/Graphics/lady.jpg" width="312" height="192" alt="lady" /></a>
    <br>Young lady walking in the snow <br>
    We wonder how long she has to go <br>
    And why she might be on this road.
</p>

<h2>Travel my friend</h2>
<p class="details">
    <a href="/Graphics/destination.jpg"> <img src="/Graphics/destination.jpg" width="312" height="192" alt="destination" /></a>
    <br>Grap your guide and further yo must go<br>
    until you don&rsquo;t feel the grasp of the wild take hold<br>
    Then you can se yourself become strong.
</p>

<h2>Glacier in the wild</h2>
<p class="details">
    <a href="/Graphics/glacier.jpg"> <img src="/Graphics/glacier.jpg" width="312" height="192" alt="glacier" /></a>
    <br>Somewhere in the high the nature is grand<br>
    and nowhere you see the touch of human<br>
    What a sight and silence to behold.
</p>

<h2>Structure</h2>
<p class="details">
    <a href="/Graphics/structure.jpg"> <img src="/Graphics/structure.jpg" width="312" height="192" alt="structure" /></a>
    <br>Structure your life in a way that makes you happy<br>
    Because everyday counts and it's the small things that matters<br>
    So be your best you and be the happiest you.
</p>

<h2>Fun</h2>
<p class="details">
    <a href="/Graphics/weatherman.jpg"> <img src="/Graphics/weatherman.jpg" width="312" height="192" alt="weatherman" /></a>
    <br>One more time for funn and we will end this silly matter<br>
    but before we go lets have one last chatter<br>
    That as long as you are you, then that all which matters.
</p-->
