@{
    ViewData["Title"] = "Home Page";
}

<figure class="float-right">
    <img src="/Graphics/let_it_rain_3-wallpaper-5120x3200.jpg" alt="rain" width="260" height="160" align="right" />
</figure>

<ul>
    <li>Speciality: lead your attention away from pressent talsks at hand to the land of the day dreams</li>
    <li>LODD: The Land of Day Dreams is a division in you head where you among other can find the Brain Fart Fraction.</li>
    <li>Illustrations: of different places in LODD.</li>
    <li>Music: that for some mystical reasons sends you on a highway to LODD.</li>
    <li>Videos: another part of LODD.</li>
</ul>

<div>
    123456 Procrastination Street <br>
    Main Part of Your Brain, AA 999666<br>
    1-222-333-4444
    <br><br>
</div>