
@{
    ViewData["Title"] = "Fractions";
}

<table>
    <tr><!--Row-->
        <th><!--Bold data cell -->
            The Brain Fart Fraction
        </th>
        <td><!--Normal data cell -->
            The Brain Fart Fraction takes care of all the most fuct up stuf on this site.<br>
            Still Brain Storming their purpose using Smelly Gass.
        </td>
    </tr>
    <tr>
        <th>
            The Happy Cheasy Fraction
        </th>
        <td>
            The Happy Cheasy Fraction tahes care of all that romanric cheasy stuff that is sweet, sometimes to sweet.<br>
            They are currently running around somewhere in a flower field.
        </td>
    </tr>
    <tr>
        <th>
            The Creative Builder Fraction
        </th>
        <td>
            The Creative Builder Fraction is the fraction taking care off all the creative thoghts and is building this site.<br>
            Doing something wery creative yet painfully inaficient.
        </td>
    </tr>
</table>






<!--dl>
    <dt><strong>The Brain Fart Fraction</strong></dt>
    <dd>
        The Brain Fart Fraction takes care of all the most fuct up stuf on this site.<br>
        Still Brain Storming their purpose using Smelly Gass.<br><br>
    </dd>

    <dt><strong>The Happy Cheasy Fraction</strong></dt>
    <dd>
        The Happy Cheasy Fraction tahes care of all that romanric cheasy stuff that is sweet, sometimes to sweet.<br>
        They are currently running around somewhere in a flower field.<br><br>
    </dd>

    <dt><strong>The Creative Builder Fraction</strong></dt>
    <dd>
        The Creative Builder Fraction is the fraction taking care off all the creative thoghts and is building this site.<br>
        Doing something wery creative yet painfully inaficient<br><br>
    </dd>

</dl--->



